<form method="post" action="{{ path('app_admin_playable_class_delete', {'id': playable_class.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ playable_class.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
