{% if is_granted('ROLE_ADMIN') %}
<form method="post" action="{{ path('app_admin_armor_delete', {'id': armor.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette armure ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ armor.id) }}">
    <button class="btn btn-danger mb-2">Supprimer</button>
</form>
{% endif %}
