{% extends 'base.html.twig' %}

{% block title %}Modifier armure{% endblock %}

{% block body %}
    <h1>Modifier une armure</h1>

    {{ include('admin/armor/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="btn btn-secondary mb-1" href="{{ path('app_admin_armor_index') }}">Retour à la liste</a>

    {{ include('admin/armor/_delete_form.html.twig') }}
{% endblock %}
