{% extends 'base.html.twig' %}

{% block title %}{{title}} une sous-race{% endblock %}

{% block body %}
    {{form(form, {'attr': {'novalidate': 'novalidate'}})}}

    <a class="btn btn-primary mb-3" href="{{ path('app_admin_subraces_browser')}}">Retour à la liste</a>
{% endblock %}