{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur O'Dungeons{% endblock %}

{% block body %}
    <div class="row">
        <h2>Les 5 dernières classes</h2>
        <ul class="list-unstyled">
            {% for class in classes %}
                <li><a href="{{ path('app_admin_playable_class_show', {"id": class.id}) }}">{{class.name}}<a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="row">
        <h2>Les 5 dernières races</h2>
        <ul class="list-unstyled">
            {% for race in races %}
                <li><a href="{{ path('app_admin_races_read', {"id": race.id}) }}">{{race.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
