{% extends 'base.html.twig' %}

{% block title %}
    Accès refusé
{% endblock %}

{% block body %}
<div class="text-center">
    <h1 class="mt-2">Accès refusé</h1>

    <p>Il semblerait que vous vous essayez d'accéder à une page, mais vous avez pas la clef.</p>

    <img src="https://media.giphy.com/media/xUySTDqGm8C7jugPPq/giphy.gif">
</div>
{% endblock %}