{% extends 'base.html.twig' %}

{% block title %}
    Page non trouvée
{% endblock %}

{% block body %}
<div class="text-center">
    <h1 class="mt-2">Page non trouvée</h1>

    <p>Il semblerait que vous vous êtes égaré. Mais où êtes vous ?</p>

    <img src="https://c.tenor.com/lx2WSGRk8bcAAAAC/pulp-fiction-john-travolta.gif">

    <div>
        <a class="btn btn-primary mt-2" href="{{ path('app_main') }}">Retour à la page d'accueil</a>
    </div>
</div>
{% endblock %}